.card1, .card2, .card3{
    height: 240px;
    width: 240px;
    box-shadow: 2px 3px 5px black;
    margin-top: 50px;
}

.mainCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: auto !important;
}

@media screen and (min-width: 600px ){ 
    .card1,.card2,.card3{
        width: 100%;
    }
}